.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
*.sif
test_results/
.nf-test/
samplesheet.csv
output*
test_results_passthrough
test_results*
test_results_passthrough
nf.config
samplesheet.csv
test_incremental_results
